/*  ==================================================================
        Stylesheet for content settings
            file: content.css
            author: Carolin Streit
            date: 15.08.2024
    ================================================================== */



.border-block {
    border: 2px solid darkred;
    padding: 5px;
}

.small-block {
    display: flex;
    /* flex-wrap: nowrap; */
}

@media only screen and (max-width: 600px) {
    .stats {
        display: inline-flex;
        flex-wrap: wrap;
        row-gap: 5px;
        justify-content: center;
    }

    .stat-block-flex {
        display: flex;
        width: 32%;
        justify-content: center;
    }

    /*
    .saving-throws {
        display: grid;
        grid-template-columns: auto auto;
    } */
}

@media only screen and (min-width: 600px) {
    .stats {
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4px;
        width: 100%;
    }

    .stat-block-flex {
        display: flex;
        width: 32%;
        justify-content: center;
    }

    /*
    .saving-throws {
        display: grid;
        grid-template-columns: auto auto;
    } */

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .base-info {
        display: flex;
        align-items: center;
    }

    .proficiency-block,
    .movement-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-grow: 1;
    }
}

@media only screen and (min-width: 768px) {
    .stats {
        width: 100%;
    }

    .stat-block-flex {
        width: 16%;
        justify-content: center;
    }
}

@media only screen and (min-width: 1200px) {
    .row {
        display: flex;
        max-width: 1400px;
        align-items: center;
        margin: auto;
    }

    .stats {
        display: flex;
        width: 50%;
    }

    .stat-block-flex {
        width: 16%;
        justify-content: center;
    }

    .base-info {
        display: flex;
        align-items: center;
        width: 25%;
        height: auto;
    }

    .health-info {
        display: flex;
        width: 25%;
    }

    .health-block {
        width: 75%;
    }

    /* .saving-throws {
        display: grid;
        grid-template-columns: auto auto;
    } */
}

.char-top {
    background-color: rgb(26, 41, 41);
    color: white;
}



.stat-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
}

.stat-txt,
.stat-mod,
.stat-stat {
    margin-top: 2px;
    margin-bottom: 2px;
}

.stat-mod {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    font-size: larger;
    font-weight: bold;
}

.stat-stat {
    border: 2px solid darkred;
    border-radius: 20px;
    width: 40px;
}

.save-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.save-prof,
.save-txt,
.save-mod {
    margin: 2px;
}

/*  ==================================================================
        end of content.css
    ================================================================== */