/*  ==================================================================
        Stylesheet for content settings
            file: content.css
            author: Carolin Streit
            date: 15.08.2024
    ================================================================== */

/* roboto-condensed-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-condensed-v27-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/roboto-condensed-v27-latin-regular.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-mono-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-mono-v23-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/roboto-mono-v23-latin-regular.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

body {
    background-color: rgb(185, 192, 191);
    font-family: 'Roboto Condensed';
    background-image: url('../img/backroundblogwinter11\ 1.0\ \(2017_10_13\ 17_49_02\ UTC\).PNG');
    background-size: cover;
}

.border-block {
    border: 2px solid darkred;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: white;
}

.small-block {
    display: flex;
}

.char-top {
    display: flex;
    gap: 5px;
}

.char-info {
    width: 75%;
}

.health {
    border: 1px solid darkred;
    border-radius: 4px;
    padding: 5px;
}

table {
    width: 100%;
}

th {
    text-align: left;
    text-transform: uppercase;
    color: rgb(88, 87, 87);
}

@media only screen and (max-width: 615px) {

    .collapsible {        
        background-color: rgb(26, 41, 41);
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-family: 'Roboto Condensed';
        text-transform: uppercase;
        font-weight: bold;
    }

    .active,
    .collapsible:hover {
        background-color: rgb(43, 63, 63);
    }

    .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
    }

    .active:after {
        content: "\2212";
    }

    .content {
        display: none;
        overflow: hidden;
    }

    .base-info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: rgb(43, 63, 63);
        color: white;
        width: 100%;
    }

    .base-info .border-block {
        border: none;
        background-color: rgb(43, 63, 63);
    }

    .base-info-flex {
        display: flex;
        width: 24%;
        justify-content: center;
    }

    .initiative,
    .armor-class {
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .stats {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .stat-block-flex {
        display: flex;
        width: 32%;
        justify-content: center;
    }

    .health-info {
        display: none;
    }

    .subsection-combat {
        display: none;
    }
}

@media only screen and (min-width: 615px) {

    .collapsible {
        display: none;
    }

    .content {
        display: block !important;
    }

    .stats {
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .stat-block-flex {
        display: flex;
        width: 32%;
        justify-content: center;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .base-info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: rgb(43, 63, 63);
        color: white;
        width: 100%;
    }

    .base-info .border-block {
        border: none;
        background-color: rgb(43, 63, 63);
    }

    .base-info-flex {
        display: flex;
        width: 24%;
        justify-content: center;
    }

    .initiative,
    .armor-class {
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .health-info {
        display: none;
    }

    .saving-throws,
    .senses {
        width: 280px;
        height: 200px;
    }

    .proficiencies-training {
        width: 280px;
        height: 300px;
    }

    .skills {
        width: 280px;
        height: 710px;
    }

    .subsection-combat {
        display: none;
    }

}

@media only screen and (min-width: 768px) {
    .base-info {
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: unset;
        color: unset;
    }

    .base-info .border-block {
        border: 2px solid darkred;
        background-color: white;
    }

    .stats {
        width: 100%;
    }

    .stat-block-flex {
        width: 16%;
        justify-content: center;
    }

    .saving-throws,
    .senses {
        width: 280px;
        height: 200px;
    }

    .proficiencies-training {
        width: 280px;
        height: 300px;
    }

    .skills {
        width: 280px;
    }

    .health-info {
        display: none;
    }

    .subsection-combat {
        display: none;
    }

    .actions {
        min-width: 610px;
    }

    h4,
    h6 {
        color: rgb(88, 87, 87);
    }
}

@media only screen and (min-width: 1200px) {
    .row {
        display: flex;
        max-width: 1400px;
        align-items: center;
        margin: auto;
    }

    .row1 {
        flex-direction: row-reverse;
    }

    .initiative {
        visibility: hidden;
        width: 0px;
        height: 0px;
        margin: 0;
        border: none;
    }

    .armor-class {
        visibility: hidden;
        width: 0px;
        height: 0px;
        margin: 0;
        border: none;
    }

    .stats {
        display: flex;
        width: 50%;
    }

    .stat-block-flex {
        width: 16%;
        justify-content: center;
    }

    .base-info {
        display: flex;
        flex-wrap: wrap;
        width: 20%;
    }

    .base-info-flex {
        display: flex;
        width: 49%;
    }

    .invisible-flex {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    .health-info {
        display: flex;
        width: 29%;
        visibility: visible;
        height: auto;
        justify-content: center;
        flex-wrap: wrap;
    }

    .health-block-flex {
        display: flex;
        width: 74%;
        justify-content: center;
    }

    .health-line {
        width: 100%;
        text-align: end;
        font-size: x-large;
    }

    .proficiency-block-flex {
        width: 25%;
        justify-content: center;
    }

    .inspiration-block-flex {
        display: flex;
        justify-items: center;
    }

    .inspiration-block-flex input {
        width: 100%;
    }

    .inspiration-check {
        margin: 0;
    }

    .health {
        display: none;
    }

    .subsection-flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 285px;
    }

    .subsection-right {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 715px;
        width: 50%;
    }

    .subsection-combat {
        display: flex;
        flex-wrap: wrap;
        visibility: visible;
        width: 100%;
        height: auto;
        align-items: center;
    }

    .initiative-block,
    .ac-block {
        display: flex;
        flex-direction: column;
        width: 19%;
        height: 100px;
        align-items: center;
        text-align: center;
    }

    .defenses-conditions-block {
        margin-right: 0px;
        width: 60%;
        display: flex;
        height: 100px;
    }

    .defenses {
        border-right: 1px solid gray;
        width: 50%;
    }

    .action-flex {
        display: flex;
    }
}

.char-top {
    background-color: rgb(26, 41, 41);
    color: white;
    padding: 10px;
    margin-bottom: 2px;
}

.char-icon {
    max-width: 100px;
    border: 2px solid darkred;
}

.hp-input {
    outline: none;
    background-color: unset;
    color: unset;
    border-style: unset;
    font: unset;
    width: 30px;
    text-align: end;
}

.hp-input:focus {
    background-color: gray;
    color: white;
}

.stat-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
}

.stat-txt,
.stat-mod,
.stat-stat {
    margin-top: 2px;
    margin-bottom: 2px;
}

.stat-txt {
    text-transform: uppercase;
    font-size: small;
    color: rgb(88, 87, 87);
}

.stat-mod {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    font-size: larger;
    font-weight: bold;
}

.stat-stat {
    border: 2px solid darkred;
    border-radius: 20px;
    width: 40px;
}

.proficiency-block,
.movement-block {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inspiration-block {
    width: 82px;
}

.health-block {
    width: 220px;
}

.subsections {
    position: relative;
    height: 770px;
    display: flex;
}

.senses {
    display: flex;
    flex-wrap: wrap;
}

.save-block-flex {
    display: flex;
    flex-wrap: wrap;
}

.save-block {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.passives {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.save-prof,
.save-txt,
.save-mod {
    margin: 2px;
}

.subsection-actions {
    overflow-x: auto;
}

.skill-mod {
    font-family: 'Roboto Mono';
}

.actions {
    width: 100%;
    margin-right: 0px;
}

td {
    height: 1.7rem;
}

.attack-type {
    font-size: x-small;
}

.disadvantage-range {
    font-size: x-small;
    color: grey;
}

.attack-notes {
    font-size: smaller;
    color: grey;
    width: 33%;
}

.boxed-item {
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.training-text {
    font-size: small;
}

.big-num {
    font-size: x-large;
}

/*  ==================================================================
        end of content.css
    ================================================================== */