/*  ==================================================================
        Stylesheet for form settings
            file: form.css
            author: Carolin Streit
            date: 15.08.2024
    ================================================================== */


/*  ==================================================================
        end of form.css
    ================================================================== */