/*  ==================================================================
        Stylesheet for layout settings
            file: layout.css
            author: Carolin Streit
            date: 15.08.2024
    ================================================================== */

/**
    *   1. base page layout
    */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 615px) {
    .block {
        width: 100%;
    }

    .main {
        width: 100%;
    }

    .full-screen-block {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 615px) {
    .block {
        width: 50%;
    }

    .actions {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .block {
        width: 33%;
    }

    .full-screen-block {
        width: 80%;
    }
}


/**
    *   2. header
    */


/**
    *   3. main
    */

/**
    *   4. footer
    */


/*  ==================================================================
        end of layout.css
    ================================================================== */