/*  ==================================================================
        Stylesheet for inline navigation settings
            file: nav-inline.css
            author: Carolin Streit
            date: 15.08.2024
    ================================================================== */


/*  ==================================================================
        end of nav-inline.css
    ================================================================== */